{% extends '::base.html.twig' %}

{% block body -%}
    <h1 id="album-header">LISTA ALBUMÓW</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <a href="{{ path('album_new') }}"><button class="btn btn-primary" id="singlebutton">Dodaj album</button></a>                          
        </div>
      </div>
    </div>
    <div class="list-group">
        {% for entity in entities %}
            <a href="{{ path('album_show', {'id': entity.id}) }}" class="list-group-item"> 
                <img src="{{ entity.getFullPathToSleeve() }}" alt="" class="picture-small" />                             
                <span class='band-name'>{{ entity.name }} ({{ entity.released }}) - {{ entity.band.name }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
