{% extends '::base.html.twig' %}
{% form_theme form 'MusicManagerManageBundle:Form:bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Album creation</h1>

{#    {{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(show_form) }}
    {{ form_end(form) }}
#}    
    <form action="{{ path('album_create') }}" method="post" {{ form_enctype(form) }}>
{#        {{ form_widget(form) }}#}
        {{ form_row(form.name,{'attr': {'class': 'custom-class'}}) }}
        {{ form_row(form.released) }}
        {{ form_row(form.description) }}
        {{ form_row(form.rate) }}
        {{ form_row(form.sleevePicUrl) }}
        {{ form_widget(form.save, { 'label': 'Dodaj album' }) }}
    </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('album') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
