{% extends '::base.html.twig' %}
{% form_theme form 'MusicManagerManageBundle:Form:bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Album creation</h1>

{#    {{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(show_form) }}
    {{ form_end(form) }}
#}    
    <form action="{{ path('album_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
{#        <div class="col-xs-6">#}
            <div class="form-group">
                {{ form_label(form.name, 'Nazwa albumu', { 'label_attr': {'class': 'col-xs-2'} }) }}
                 <div class="col-xs-10">
                {{ form_widget(form.name) }}
                 </div>
            </div>
            <div class="form-group">
                {{ form_label(form.released, 'Rok wydania', { 'label_attr': {'class': 'col-xs-3'} }) }}
                <div class="col-xs-3">
                    {{ form_widget(form.released) }}
                </div>
                {{ form_label(form.rate, 'Ocena', { 'label_attr': {'class': 'col-xs-3'} }) }}
                <div class="col-xs-3">
                    {{ form_widget(form.rate) }}
                </div>
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.rate) }} 
           {{ form_row(form.sleevePicUrl) }}
            {{ form_widget(form.save, { 'label': 'Dodaj album' }) }}
{#        </div>#}
    </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('album') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
