{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default panel-album">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <a href="{{  path('album_edit', {'id': entity.id})  }}"><button class="btn btn-primary" id="singlebutton">Edytuj album</button></a>                          
                    </div>
                </div>
            </div>        
            <div class="panel-heading h2">
                {{ entity.name }} ({{ entity.released }})<a class="float-right" href="{{ path('album') }}">&larr;Powrót</a>
                <h5 class="bold">{{ entity.band.name }}</h5>
                <h5>Ocena: {{ entity.rate }}/10</h5>
            </div>
            
            <div class="panel-body">
                <div class="col-xs-6"> 
                    <img src="{{ entity.getFullPathToSleeve() }}" alt="" class="picture-big" />                             
                </div>
                <div class="col-xs-6">
                    <ol class="song-list">
                    {% for song in entity.songs %}
                        <li>{{ song.title }} {{ song.length }}</li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="description">
                <span class="bold">Opis:</span> {{ entity.description }}
            </div>
            <div class="row">
            </div>

                    
    </div>  
{% endblock %}
